.card-deck{
  position: relative;
  background-image: white;
  background-size: cover;
  background-position: center;

}

.card-title{
  font-weight: 600;
  
}

.card-text{
  margin-top: 5%;
}

.card{
    font-family: "Poppins", sans-serif;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
}

.card-body{
  max-width: 30rem;
  align-content: flex-end;
  align-self: center;
  text-align: justify;
  margin: auto;
}

.imageSize{
    max-width: 56%;
    margin: auto;
}

.imageSize:hover {
    background-color: white;
    animation: skew 1.2s infinite;
    transform: skew(1deg);
    animation-direction: alternate;
  }
  
  @keyframes skew {
    0% {
      transform: skewX(1deg);
    }
    100% {
      transform: skewX(-1deg);
    }
  }

.buttonsBox{
    display: flexbox;
    text-align: center;
    margin-top: 30px;
}

.seeLive{
    padding: 6px;
    text-decoration: none;
    margin-right: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    background: linear-gradient(to right, rgb(3, 177, 168) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.seeLive:hover{
    background-position: left bottom;
    color: white;

}

.sourceCode{
    padding: 6px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    background: linear-gradient(to right, rgb(3, 177, 168) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.sourceCode:hover{
    background-position: left bottom;
    color: white;
}

  
  
